
/*------------------------------- Universal ----------------------------------*/

body {
    margin:0;
}

HTML {
    scroll-behavior:smooth;
    font-family:"Acme", sans-serif;
}

.anchor {
    display: block;
    height: 115px; 
    margin-top: -115px;
    visibility: hidden;
}

h1 {
    font-size:40px;
    text-shadow:2px 2px #3a89a4;
    text-transform:uppercase;
    margin-bottom: 40px
}

h2 {
    text-align:center;
    margin-bottom:40px;
    color:black;
    font-size:40px;
    text-shadow:2px 2px #3a89a4;
    text-transform:uppercase;
}

p {
    padding:0 20px;
    display:flex;
    text-align:center;
    line-height:35px;
    letter-spacing:0.5px;
    color:#1B3139;
    font-size:22px;
}


/*---------------------------------- NAVBAR ----------------------------------*/

.logo-img {
    width:150px;
    height:80px;
    margin:20px; 
    cursor:pointer;
}

.header {
    display: inline-block;
    background-color: #bb3928;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.nav {
    text-align:right;
    height:auto;
    line-height:70px;
    float:right;
    margin-top:25px;
    font-size:22px;
}

.menu {
      margin: 0 80px 0 0;
}

.menu a {
    text-decoration:none;
    margin:0 10px;
    line-height:80px;
    color:#fafae6;
    padding:5px;
}

.menu a:hover {
    color:#f3df00;
}

label {
    width:10px;
    float:right;
    margin: 0 40px 0 0 ;
    font-size:26px;
    line-height:70px;
    display:none;
}

#toggle {
    display:none;
}


/*------------------------------ main banner image -------------*/

.banner-image {
    background-image: url("./assets/images/cover4.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:120px;
    max-width:100%;
    height:750px;
}

/*------------------------------ THE MONKEES -------------*/


.background.about {
    display:flex;
    flex-direction:column;
    background-color: #3a89a4;
    background-size:cover;
    width:100%;
    height:auto;
    padding:100px 0;
    justify-content:center;
}

.content-box {
    height:auto;
    width:80%;
    border-radius:4rem;
    display:flex;
    flex-direction:row;
    margin:auto;
    background-color:rgba(255,255,255,0.3);
    padding:inherit;
}

.circle-images {
    height:auto;
    width:20%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:10px;
}

.circle-images img {
    height:130px;
    width:130px;
    border-radius:50%;
    border:8px solid #fafae6;
}

.text-box {
    height:auto;
    width:60%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.image-box {
    display:flex;
    justify-content:center;
    padding:100px 0;
}

.image-box img {
    width:70%;
    border:10px solid #fafae6;
    border-radius:50%;
}


/*------------------------------ THE MUSIC -------------*/

.background.music {
    display:flex;
    flex-direction:column;
    background-color: #f3df00;
    background-size:cover;
    width:100%;
    height:auto;
    padding:100px 0;
}

.music-table-text {
    text-align:justify;
    width:80%;
    margin:0 auto;
    margin-bottom:50px;
    background-color:rgba(255,255,255,.4);
    border-radius:4rem;
    padding: inherit;
}

.music-table {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 60px;
    border-radius: 5%;   
}

.music-col {
    padding:10px;
    border:1px solid #3a89a4;
}

.music-col a {
    text-decoration:none;
    display:flex;
    justify-content:space-evenly;
}

.music-col a p {
    margin:auto;
}

.album-song {
    text-decoration:none;
    color:black;
}

.pull-left {
    height:110px;
    width:110px;
    border-radius:50%;
    transition:0.5s linear;
}

tr {
    text-align:center;
}

.music-col, .music-col a {
    background-color:#fafae6;
    color:#1B3139;
    text-transform:uppercase;
    transition:0.5s linear;
}

td {
    transition:0.5s linear;
}

td:hover {
    background-color:#3a89a4;
    color:#fafae6;
}

/*------------- mobile dropdown ---------------*/

.music-table-mobile {
    display:none;
}

.dropbtn {
    background-color: #3a89a4;
    color: #fafae6;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-family:"Acme";
    font-size:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family:"Acme";
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafae6;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f3df00;
    color:#3a89a4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #f3df00;
}


/*-------------------- music images ------------------------ */

.band-image {
    height:300px;
    width:300px;
    border: 5px solid #fafae6;
    border-radius:50%;
    padding:20px;
    display:block;
    margin:auto;
    margin-top:50px;
}


/*------------------------------- EVENTS -------------------------*/

.background.events {
    display:flex;
    flex-direction:column;
    background-color: #e39134;
    background-size:cover;
    width:100%;
    height:auto;
    padding:100px 0;
}

.events-img-txt {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:auto;
    width:80%;
    justify-content:space-around;
    background-color:rgba(255,255,255,0.3);
    border-radius:4rem;
    padding: inherit;
}

.events-img-txt img {
    width:auto;
    height:250px;
    border-radius:50%;
}

.events-text {   
    text-align:left;
    width:60%;
}

.events-text p {
    display:flex;
    text-align:left;
    line-height:35px;
    letter-spacing:0.5px;
    color:#1B3139;
    font-size:22px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #3a89a4;
    color: #fafae6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fafae6;
    color:#3a89a4;
}

.container.contact {  
    width:50%;
    display:flex;
    flex-direction:column;
    margin:auto;
    padding-top:20px
}


/*-------------------------------- footer ----------------------*/

.footer {
   width: 100%;
    background-color: #bb3928;
    color: #fafae6;
    text-align: center;
    height: 40px;
    padding-top: 1rem;
}


/*------------------------------- MEDIA QUERIES --------------------*/

@media screen and (max-width:500px) {
     p {
        padding:0 10px;
        text-align:justify;
        font-size:20px;
    }
}

/*------------------------------- NAVBAR MEDIA QUERIES --------------------*/

@media screen and (max-width:898px) {
    .nav {
        font-size:16px;
    }
    
    .menu a {
        padding:0;
    }
}


@media screen and (max-width:768px) {
    .header {
        justify-content:center;
    }
}   

@media screen and (max-width:700px) {
    .header {
        display:grid;
    }
    
    label {
        display:block;
        cursor:pointer;
        margin:auto;
        float:none;       
    }
    
    .menu {
        text-align:center;
        width:100%;
        display:none;
        margin:0;
    }
    
    .menu a {
        display:block;
        margin:0;
        line-height:50px;
    }
    
    #toggle:checked + .menu {
        display:block;
    }
}


/*------------------------------- BANNER MEDIA QUERIES --------------------*/

@media screen and (max-width: 1024px) {
    .banner-image {
        height:550px;
    }
}

@media screen and (max-width:768px) {   
    .banner-image {
        height:450px;
    }
}

@media screen and (max-width:700px) {
    .banner-image {
        margin-top:210px;
    } 
}

@media screen and (max-width:500px) {
    .banner-image {
        height:250px;
    }
}


/*------------------------------- THE MONKEES MEDIA QUERIES --------------------*/

@media screen and (max-width:922px) {
     .circle-images {
        display:none;
    }
    
     .text-box {
      width:100%;
    }
}

@media screen and (max-width:768px) {
     .background.about {
        padding:50px 0;
    }
    
    .image-box {
        padding:30px 0;
    }

    .content-box {
      flex-direction:column
    }

}

@media screen and (max-width:649px) {

    .text-box {
        width:100%;
        height:auto;
    }
    .background.about {
        padding:20px 0;
    }
    .image-box img {
        width:80%;
        border:none;
    }
}

@media screen and (max-width:500px) {
    .content-box {
        width:90%
    }
}



/*------------------------------- THE MUSIC MEDIA QUERIES --------------------*/

@media screen and (max-width: 1024px) {
    .pull-left {
        width:80px;
        height:80px;
    }
}

@media screen and (max-width:977px) {
    .music-table-mobile {
        display:block;
        margin:auto;
    }
    
    .music-table {
        display:none;
    }
    
    .dropdown {
        display:block;
        margin:auto;
    }
    
    .dropbtn {
        width:300px;
        margin:5px;
        border-radius:5rem;
    }
}


@media screen and (max-width:500px) {
    .band-image {
        border:none;
        height:auto;
        width:auto;
    }
    
    .music-table-text {
        width:90%;
    }
    
}


/*------------------------------- THE EVENTS MEDIA QUERIES --------------------*/

@media screen and (max-width:1024px) {
    .events-img-txt {
        flex-direction:row;
    }
    
    .events-img {
        margin:auto;
        padding-top:20px;
    }
}

@media screen and (max-width:922px) {
    .events-img-txt {
        flex-direction:column;
    }
}

@media screen and (max-width:768px) {
    .container.contact {
        width:90%;
    }
    
    .events-text  {
        width:100%;
    }
    
    .events-img-txt img {
        padding-bottom:20px;
    }
}

@media screen and (max-width:768px) {
    .events-img-txt {
        width:90%;
    }
}

@media screen and (max-width:500px) {
     .events-text p {
        padding:0 10px;
        text-align:justify;
        font-size:20px;
    }
    
}



   






