.image-main {
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}
    
.image-logo {
    position:static;
    left: calc(50% - 125px);
    bottom:30%;
    width: 250px;
    height: auto;
}

@media screen and (max-width: 992px) {
    .image-logo {
        display:none;
    }
    
    .image-main {
        position:relative;
        left:0;
        top:0;
        z-index:0;
    }
}
    
