/* Color styling schemes

blue - #3a89a4
yellow - #f3df00
white - #fafae6
orange - #e39134
light red - #d92b39
red - #d72235
red/orange - #bb3928

*/

/*------------------------------- Universal ----------------------------------*/

body {
    margin-top:70px;
}


/*----------------------------------- Navbar section -------------------------*/

.bg-light {
    background-color: #3a89a4!important;
}

.navbar-collapse {
    justify-content:center;
    margin-right:150px;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform:uppercase;
    margin:15px;
    color:#fafae6;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f3df00;
}


/*------------- Navbar section - #social dropdownlink ---------*/

.droplink {
  color: black;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafae6;
  min-width:180px;
  z-index: 1;
  text-align:center;
}

.dropdown-content a {
  color: #3a89a4;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
    background-color: #fafae6;
    color: #e39134;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

/*------------- Navbar section - mobile resolution -----------*/

.mobile i {
    color:#fafae6;
    padding:5px;
}

.mobile i:hover {
    color: #e39134;
}

/*------------------------------ about Section ------------------------------*/

#band-introduction {
    background-color: #f3df00;
}

#tv-box {
    position:relative;
}

#tv-box img {
    width:80%;
    height:80%;
    margin-top:50px;
    margin-bottom:50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-45%, -50%);
}

/*------------------------------ music section ------------------------------*/

/* ------------- table for music singles ---------------- */

#playlist {
    background-color: #e39134;
}

.table {
   background-color:#ffffff;
   margin-top:80px;
   margin-bottom:80px;
} 

.table td {
    border-top:none;
}

.table td:hover {
    background-color:#ffffff;
}

/* ------------ img styling /screen responsive ----------*/

.pull-left {
    height:50px;
    width:50px;
}

.dropdown {
    display:block;
}

.dropdown-toggle {
    width:100%;
}

.clearfix a {
    text-decoration: none;
    color:#3a89a4;
}

.clearfix img {
    margin-right: 5px;
    border-radius:50%;
}

.table td:hover .clearfix img {
    border:1px solid black;
}

.table td:hover .clearfix a {
    color:black;
}

/* -------------- button select elemnts ----------------*/

.btn-primary {
    background-color:#fafae6;
    color:#3a89a4;
    border: 1px solid lightgrey;
}

.btn-primary:hover {
    background-color:#3a89a4;
    color: #fafae6;
    border:none;
}

.show>.btn-primary.dropdown-toggle {
    background-color:#3a89a4;
    color: #fafae6;
    border:none;
}

.btn:focus {
    background-color:white;
}

.dropdown-item:hover {
    background-color:#3a89a4;
    color:#fafae6;
}



/* ----------------------------- Media Queries -------------------------------*/

@media screen and (max-width:992px) {
    .navbar-dark .navbar-nav .nav-link {
        margin:5px;
    }
    .navbar-collapse {
        margin-right:0;
    }
}

@media screen and (max-width:768px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size:.8rem;
        margin:0;
    }
    
}

@media screen and (max-width:576px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size:1rem;
    }
}

